*
!*/
!*/*/*/ioc.txt
!.gitignore

# PRiMENON setting
node_modules
!src/*
!.github/**
!index.js
!package.json
!package-lock.json
!lucky-visitor.txt
!LICENSE
!README.*
!.editorconfig
!.eslintrc.json
!.prettierrc
